[submodule "library/LovyanGFX"]
	path = library/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git
	branch = master
[submodule "library/mingw_stdthreads"]
	path = library/mingw_stdthreads
	url = https://github.com/meganz/mingw-std-threads.git
